In [1]:
import csv

In [2]:
from pandas import DataFrame

In [3]:
import numpy as np
import pandas as pd

In [4]:
import glob

In [5]:
from os import listdir

In [6]:
import dateutil

In [7]:
from array import *

In [8]:
import random

In [9]:
df1 = pd.read_csv(r"C:\Users\taylo\Desktop\GA\DSI_Assignments_NEW\Jeopardy\jeopardy_clues\season1.tsv", sep="\t")

In [10]:
df1

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,1984-09-10,-
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,1984-09-10,-
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,1984-09-10,-
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,1984-09-10,-
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,1984-09-10,-
5,1,200,no,INVENTIONS,-,"In 1869 an American minister created this ""ori...",the rickshaw,1984-09-10,-
6,1,300,no,INVENTIONS,-,A 1920's hunting trip to Canada inspired Birds...,freezing,1984-09-10,-
7,1,400,no,INVENTIONS,-,This fastener gets its name from a brand of ga...,a zipper,1984-09-10,-
8,1,100,no,ANIMALS,-,These rodents first got to America by stowing ...,rats,1984-09-10,-
9,1,200,no,ANIMALS,-,"There are about 40,000 muscles & tendons in th...",the trunk,1984-09-10,-
10,1,300,no,ANIMALS,-,"When husbands ""pop"" for an ermine coat, they'r...",a weasel,1984-09-10,-
11,1,400,no,ANIMALS,-,"Close relative of the pig, though its name mea...",the hippopotamus,1984-09-10,-
12,1,500,no,ANIMALS,-,If this species of hybrid's parents were rever...,mule,1984-09-10,-
13,1,100,no,FOREIGN CUISINE,-,"The ""coq"" in coq au vin",chicken,1984-09-10,-
14,1,200,no,FOREIGN CUISINE,-,"A British variety is called ""bangers"", a Mexic...",sausages,1984-09-10,-
15,1,300,no,FOREIGN CUISINE,-,Jewish crepe filled with cheese,a blintz,1984-09-10,-
16,1,400,no,FOREIGN CUISINE,-,French for a toothsome cut of beef served to a...,Ch√¢teaubriand,1984-09-10,-
17,1,100,no,ACTORS & ROLES,-,Video in which Michael Jackson plays a werewol...,"\""Thriller\""",1984-09-10,-
18,1,200,no,ACTORS & ROLES,-,"2 ""Saturday Night"" alumni who tried ""Trading P...",Dan Aykroyd & Eddie Murphy,1984-09-10,-
19,1,300,no,ACTORS & ROLES,-,"He may ""Never Say Never Again"" when asked to b...",Sean Connery,1984-09-10,-
20,1,400,no,ACTORS & ROLES,-,"The blonde preferred in the film ""Gentlemen Pr...",Marilyn Monroe,1984-09-10,-
21,1,500,no,ACTORS & ROLES,-,"Sam Shepard played this barrier breaker in ""Th...",Colonel Chuck Yeager,1984-09-10,-
22,2,200,no,THE BIBLE,-,"When ""Joshua Fit The Battle Of Jericho"", these...",the walls,1984-09-10,-
23,2,400,no,THE BIBLE,-,His price was 30 pieces of silver,Judas,1984-09-10,-
24,2,600,no,THE BIBLE,-,"According to the Bible, it wasn't necessarily ...",the forbidden fruit (or the fruit of the Tree ...,1984-09-10,-
25,2,800,no,THE BIBLE,-,"Though its name means ""city of peace"", it's se...",Jerusalem,1984-09-10,-
26,2,1000,no,THE BIBLE,-,"According to 1st Timothy, it is the ""root of a...",the love of money,1984-09-10,-
27,2,200,no,\'50'S TV,-,"Occupation of Richard Diamond, Peter Gunn & Mi...",private eyes (or private detectives),1984-09-10,-
28,2,400,no,\'50'S TV,-,"She was ""Our Miss Brooks\""",Eve Arden,1984-09-10,-
29,2,600,no,\'50'S TV,-,Amount Michael Anthony gave out each week on b...,$1 million,1984-09-10,-
...,...,...,...,...,...,...,...,...,...
2025,1,100,no,USED-UP CARS,-,Ford's '50s flop with a family name,an Edsel,1985-06-03,-
2026,1,200,no,USED-UP CARS,-,"Fans howled at Mel Blanc's imitation of this, ...",a Maxwell,1985-06-03,-
2027,1,300,no,USED-UP CARS,-,Among the victims of the Depression was this c...,a Stutz,1985-06-03,-
2028,1,400,no,USED-UP CARS,-,"When production stopped in 1960, this Chrysler...",a DeSoto,1985-06-03,-
2029,1,500,no,USED-UP CARS,-,"In '55, this steelmaker gave up making his nam...",Henry J. Kaiser,1985-06-03,-
2030,2,200,no,SCIENCE,-,"It's the study of weather, not meteors",meteorology,1985-06-03,-
2031,2,400,no,SCIENCE,-,"In 1011, Casimir Funk discovered the 1st of wh...",vitamins,1985-06-03,-
2032,2,600,no,SCIENCE,-,"Electricity that ""doesn't go anywhere\""",static electricity,1985-06-03,-
2033,2,800,no,SCIENCE,-,"C8H10N4O2; Coke, Pepsi & Sanka found things go...",caffeine,1985-06-03,-
2034,2,1000,no,SCIENCE,-,Edward G. Robinson played this bacteriologist ...,Dr. (Paul) Ehrlich,1985-06-03,-
2035,2,200,no,THE '30S,-,"In theater, Kaufman & Ferber's ""Dinner"" time",Eight o'clock,1985-06-03,-
2036,2,400,no,THE '30S,-,\'37 dance rage or an appetizing name for New ...,the Big Apple,1985-06-03,-
2037,2,200,no,$ IN THE NEWS,"(Alex: Dollars, or money, in the news.)","Up through the convention, Mondale spent $18,6...",the presidency,1985-06-03,-
2038,2,400,no,$ IN THE NEWS,"(Alex: Dollars, or money, in the news.)",This actor's spaghetti sauce & salad dressing ...,Paul Newman,1985-06-03,-
2039,2,600,no,$ IN THE NEWS,"(Alex: Dollars, or money, in the news.)",This gov't group has been buying 3¬¢ transistor...,Defense Department (Pentagon accepted),1985-06-03,-
2040,2,200,no,POETRY,-,"Sandburg's weather phenomenon that ""comes in o...","\""Fog\""",1985-06-03,-
2041,2,400,no,POETRY,-,"New England ""swinger of birches"" who read his ...",Robert Frost,1985-06-03,-
2042,2,800,no,POETRY,-,"Poetic device illustrated by ""a peck of pickle...",alliteration,1985-06-03,-
2043,2,1000,no,POETRY,-,"He said his poem ""Kubla Khan"" was inspired by ...",(Samuel Taylor) Coleridge,1985-06-03,-
2044,2,200,no,PSYCHOLOGY,-,"A bad one is biting your fingernails, a good o...",a habit,1985-06-03,-
2045,2,400,no,PSYCHOLOGY,-,The opposite of a dominant trait,recessive,1985-06-03,-
2046,2,600,no,PSYCHOLOGY,-,1 who suffers from periods of depression alter...,manic depression,1985-06-03,-
2047,2,800,no,PSYCHOLOGY,-,The common name for somnambulism,sleepwalking,1985-06-03,-
2048,2,1000,no,PSYCHOLOGY,-,The ego resolves conflicts between this & the ...,the id,1985-06-03,-
2049,2,200,no,GERMAN,-,Au revoir in German,auf wiedersehen,1985-06-03,-
2050,2,400,no,GERMAN,-,Hitler began building these 4-laned highways i...,the Autobahns,1985-06-03,-
2051,2,600,no,GERMAN,-,"General time of day for a greeting of ""Guten t...",good afternoon,1985-06-03,-
2052,2,800,no,GERMAN,-,"German word meaning destroyed, ruined or all f...",kaput,1985-06-03,-
2053,2,1000,no,GERMAN,-,"What you'd get in a restaurant asking for ""Her...",the waiter,1985-06-03,-
2054,3,0,no,SPORTS,-,Either of 2 current pro baseball team names th...,(1 of) Chicago White Sox & Boston Red Sox,1985-06-03,-

In [11]:
file_name = r"C:\Users\taylo\Desktop\GA\DSI_Assignments_NEW\Jeopardy\jeopardy_clues\season{}.tsv"
df = pd.DataFrame(columns=['round','value','daily_double','category','comments','answer','question', 'air_data', 'notes'])
for i in range(1, 35):
    temp = pd.read_csv(file_name.format(i), sep = "\t", error_bad_lines = False)
    df = df.append(temp, sort = False)

In [12]:
df.head()

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,NaN,-,1984-09-10
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,NaN,-,1984-09-10
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,NaN,-,1984-09-10
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,NaN,-,1984-09-10
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,NaN,-,1984-09-10

In [13]:
df.tail()

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
12041,2,800,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,"A facetious, often bawdy tribute banquet",a roast,NaN,-,2018-07-27
12042,2,1200,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,Irregular plural word for multiple layers of s...,strata,NaN,-,2018-07-27
12043,2,1600,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,To lean or tilt to one side,list (or slant),NaN,-,2018-07-27
12044,2,2000,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,Push the blue button in your GM car to get thi...,OnStar,NaN,-,2018-07-27
12045,3,0,no,AMERICAN HISTORY,-,The last survivor of this battle that started ...,the Battle of Lexington,NaN,-,2018-07-27

In [14]:
df.isnull()

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
0,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,True,False,False
4,False,False,False,False,False,False,False,True,False,False
5,False,False,False,False,False,False,False,True,False,False
6,False,False,False,False,False,False,False,True,False,False
7,False,False,False,False,False,False,False,True,False,False
8,False,False,False,False,False,False,False,True,False,False
9,False,False,False,False,False,False,False,True,False,False
10,False,False,False,False,False,False,False,True,False,False
11,False,False,False,False,False,False,False,True,False,False
12,False,False,False,False,False,False,False,True,False,False
13,False,False,False,False,False,False,False,True,False,False
14,False,False,False,False,False,False,False,True,False,False
15,False,False,False,False,False,False,False,True,False,False
16,False,False,False,False,False,False,False,True,False,False
17,False,False,False,False,False,False,False,True,False,False
18,False,False,False,False,False,False,False,True,False,False
19,False,False,False,False,False,False,False,True,False,False
20,False,False,False,False,False,False,False,True,False,False
21,False,False,False,False,False,False,False,True,False,False
22,False,False,False,False,False,False,False,True,False,False
23,False,False,False,False,False,False,False,True,False,False
24,False,False,False,False,False,False,False,True,False,False
25,False,False,False,False,False,False,False,True,False,False
26,False,False,False,False,False,False,False,True,False,False
27,False,False,False,False,False,False,False,True,False,False
28,False,False,False,False,False,False,False,True,False,False
29,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...
12016,False,False,False,False,False,False,False,True,False,False
12017,False,False,False,False,False,False,False,True,False,False
12018,False,False,False,False,False,False,False,True,False,False
12019,False,False,False,False,False,False,False,True,False,False
12020,False,False,False,False,False,False,False,True,False,False
12021,False,False,False,False,False,False,False,True,False,False
12022,False,False,False,False,False,False,False,True,False,False
12023,False,False,False,False,False,False,False,True,False,False
12024,False,False,False,False,False,False,False,True,False,False
12025,False,False,False,False,False,False,False,True,False,False
12026,False,False,False,False,False,False,False,True,False,False
12027,False,False,False,False,False,False,False,True,False,False
12028,False,False,False,False,False,False,False,True,False,False
12029,False,False,False,False,False,False,False,True,False,False
12030,False,False,False,False,False,False,False,True,False,False
12031,False,False,False,False,False,False,False,True,False,False
12032,False,False,False,False,False,False,False,True,False,False
12033,False,False,False,False,False,False,False,True,False,False
12034,False,False,False,False,False,False,False,True,False,False
12035,False,False,False,False,False,False,False,True,False,False
12036,False,False,False,False,False,False,False,True,False,False
12037,False,False,False,False,False,False,False,True,False,False
12038,False,False,False,False,False,False,False,True,False,False
12039,False,False,False,False,False,False,False,True,False,False
12040,False,False,False,False,False,False,False,True,False,False
12041,False,False,False,False,False,False,False,True,False,False
12042,False,False,False,False,False,False,False,True,False,False
12043,False,False,False,False,False,False,False,True,False,False
12044,False,False,False,False,False,False,False,True,False,False
12045,False,False,False,False,False,False,False,True,False,False

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 337567 entries, 0 to 12045
Data columns (total 10 columns):
round           337567 non-null object
value           337567 non-null object
daily_double    337567 non-null object
category        337567 non-null object
comments        337567 non-null object
answer          337567 non-null object
question        337567 non-null object
air_data        0 non-null object
notes           337567 non-null object
air_date        337567 non-null object
dtypes: object(10)
memory usage: 28.3+ MB

In [16]:
df.columns

Index(['round', 'value', 'daily_double', 'category', 'comments', 'answer',
       'question', 'air_data', 'notes', 'air_date'],
      dtype='object')

In [17]:
df.category

0                   LAKES & RIVERS
1                   LAKES & RIVERS
2                   LAKES & RIVERS
3                   LAKES & RIVERS
4                       INVENTIONS
5                       INVENTIONS
6                       INVENTIONS
7                       INVENTIONS
8                          ANIMALS
9                          ANIMALS
10                         ANIMALS
11                         ANIMALS
12                         ANIMALS
13                 FOREIGN CUISINE
14                 FOREIGN CUISINE
15                 FOREIGN CUISINE
16                 FOREIGN CUISINE
17                  ACTORS & ROLES
18                  ACTORS & ROLES
19                  ACTORS & ROLES
20                  ACTORS & ROLES
21                  ACTORS & ROLES
22                       THE BIBLE
23                       THE BIBLE
24                       THE BIBLE
25                       THE BIBLE
26                       THE BIBLE
27                       \'50'S TV
28                       \'50'S TV
29                       \'50'S TV
                   ...
12016         SOUNDS LIKE IT TO ME
12017         SOUNDS LIKE IT TO ME
12018         SOUNDS LIKE IT TO ME
12019            KEEP ON TRUCKIN\'
12020            KEEP ON TRUCKIN\'
12021            KEEP ON TRUCKIN\'
12022        CLASSICAL MUSIC TERMS
12023        CLASSICAL MUSIC TERMS
12024        CLASSICAL MUSIC TERMS
12025        CLASSICAL MUSIC TERMS
12026        CLASSICAL MUSIC TERMS
12027              AROUND THE BODY
12028              AROUND THE BODY
12029              AROUND THE BODY
12030              AROUND THE BODY
12031    DEFUNCT SPORTS FRANCHISES
12032    DEFUNCT SPORTS FRANCHISES
12033    DEFUNCT SPORTS FRANCHISES
12034    DEFUNCT SPORTS FRANCHISES
12035    DEFUNCT SPORTS FRANCHISES
12036                   NORSE GODS
12037                   NORSE GODS
12038                   NORSE GODS
12039                   NORSE GODS
12040         FOUND IN TRANSLATION
12041         FOUND IN TRANSLATION
12042         FOUND IN TRANSLATION
12043         FOUND IN TRANSLATION
12044         FOUND IN TRANSLATION
12045             AMERICAN HISTORY
Name: category, Length: 337567, dtype: object

In [18]:
df

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,NaN,-,1984-09-10
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,NaN,-,1984-09-10
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,NaN,-,1984-09-10
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,NaN,-,1984-09-10
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,NaN,-,1984-09-10
5,1,200,no,INVENTIONS,-,"In 1869 an American minister created this ""ori...",the rickshaw,NaN,-,1984-09-10
6,1,300,no,INVENTIONS,-,A 1920's hunting trip to Canada inspired Birds...,freezing,NaN,-,1984-09-10
7,1,400,no,INVENTIONS,-,This fastener gets its name from a brand of ga...,a zipper,NaN,-,1984-09-10
8,1,100,no,ANIMALS,-,These rodents first got to America by stowing ...,rats,NaN,-,1984-09-10
9,1,200,no,ANIMALS,-,"There are about 40,000 muscles & tendons in th...",the trunk,NaN,-,1984-09-10
10,1,300,no,ANIMALS,-,"When husbands ""pop"" for an ermine coat, they'r...",a weasel,NaN,-,1984-09-10
11,1,400,no,ANIMALS,-,"Close relative of the pig, though its name mea...",the hippopotamus,NaN,-,1984-09-10
12,1,500,no,ANIMALS,-,If this species of hybrid's parents were rever...,mule,NaN,-,1984-09-10
13,1,100,no,FOREIGN CUISINE,-,"The ""coq"" in coq au vin",chicken,NaN,-,1984-09-10
14,1,200,no,FOREIGN CUISINE,-,"A British variety is called ""bangers"", a Mexic...",sausages,NaN,-,1984-09-10
15,1,300,no,FOREIGN CUISINE,-,Jewish crepe filled with cheese,a blintz,NaN,-,1984-09-10
16,1,400,no,FOREIGN CUISINE,-,French for a toothsome cut of beef served to a...,Ch√¢teaubriand,NaN,-,1984-09-10
17,1,100,no,ACTORS & ROLES,-,Video in which Michael Jackson plays a werewol...,"\""Thriller\""",NaN,-,1984-09-10
18,1,200,no,ACTORS & ROLES,-,"2 ""Saturday Night"" alumni who tried ""Trading P...",Dan Aykroyd & Eddie Murphy,NaN,-,1984-09-10
19,1,300,no,ACTORS & ROLES,-,"He may ""Never Say Never Again"" when asked to b...",Sean Connery,NaN,-,1984-09-10
20,1,400,no,ACTORS & ROLES,-,"The blonde preferred in the film ""Gentlemen Pr...",Marilyn Monroe,NaN,-,1984-09-10
21,1,500,no,ACTORS & ROLES,-,"Sam Shepard played this barrier breaker in ""Th...",Colonel Chuck Yeager,NaN,-,1984-09-10
22,2,200,no,THE BIBLE,-,"When ""Joshua Fit The Battle Of Jericho"", these...",the walls,NaN,-,1984-09-10
23,2,400,no,THE BIBLE,-,His price was 30 pieces of silver,Judas,NaN,-,1984-09-10
24,2,600,no,THE BIBLE,-,"According to the Bible, it wasn't necessarily ...",the forbidden fruit (or the fruit of the Tree ...,NaN,-,1984-09-10
25,2,800,no,THE BIBLE,-,"Though its name means ""city of peace"", it's se...",Jerusalem,NaN,-,1984-09-10
26,2,1000,no,THE BIBLE,-,"According to 1st Timothy, it is the ""root of a...",the love of money,NaN,-,1984-09-10
27,2,200,no,\'50'S TV,-,"Occupation of Richard Diamond, Peter Gunn & Mi...",private eyes (or private detectives),NaN,-,1984-09-10
28,2,400,no,\'50'S TV,-,"She was ""Our Miss Brooks\""",Eve Arden,NaN,-,1984-09-10
29,2,600,no,\'50'S TV,-,Amount Michael Anthony gave out each week on b...,$1 million,NaN,-,1984-09-10
...,...,...,...,...,...,...,...,...,...,...
12016,1,400,no,SOUNDS LIKE IT TO ME,-,"Hearing this hyphenated sound ""of tiny feet"" m...",pitter-patter,NaN,-,2018-07-27
12017,1,600,no,SOUNDS LIKE IT TO ME,-,"After a few hours in the hot sun, I'm ready to...",chug,NaN,-,2018-07-27
12018,1,1000,no,SOUNDS LIKE IT TO ME,-,Hey! It's a 6-letter bray from Mr. Ed,whinny,NaN,-,2018-07-27
12019,1,200,no,KEEP ON TRUCKIN\',-,"This word is combined with ""trailer"" in a stan...",a semi (or tractor),NaN,-,2018-07-27
12020,1,400,no,KEEP ON TRUCKIN\',-,"In trucker jargon, a ""dragon wagon"" is one of ...",a wrecker (or tow truck),NaN,-,2018-07-27
12021,1,600,no,KEEP ON TRUCKIN\',-,"Many large trucks have this many gears, matchi...",eighteen,NaN,-,2018-07-27
12022,2,400,no,CLASSICAL MUSIC TERMS,-,"Italian for ""plucked\""",pizzicato,NaN,-,2018-07-27
12023,2,800,no,CLASSICAL MUSIC TERMS,-,"4 letters--Italian for ""high\""",alto,NaN,-,2018-07-27
12024,2,1200,no,CLASSICAL MUSIC TERMS,-,"French for ""German\""",allemande,NaN,-,2018-07-27
12025,2,1600,no,CLASSICAL MUSIC TERMS,-,"Italian for ""deep bass\""",basso profundo,NaN,-,2018-07-27
12026,2,2000,no,CLASSICAL MUSIC TERMS,-,"Italian for ""from the head\""",da capo,NaN,-,2018-07-27
12027,2,400,no,AROUND THE BODY,-,It's the more common name for the female gonads,ovaries,NaN,-,2018-07-27
12028,2,800,no,AROUND THE BODY,-,"Arranged in 2 rows, 8 small carpal bones make ...",the wrist,NaN,-,2018-07-27
12029,2,3000,yes,AROUND THE BODY,-,"Named for the way they release secretions, the...",exocrine and endocrine,NaN,-,2018-07-27
12030,2,2000,no,AROUND THE BODY,-,The left one of these arteries originates over...,the carotid arteries,NaN,-,2018-07-27
12031,2,400,no,DEFUNCT SPORTS FRANCHISES,-,"Between 1879 & 1915, this N.Y. city had 3 diff...",Buffalo,NaN,-,2018-07-27
12032,2,800,no,DEFUNCT SPORTS FRANCHISES,-,"In the 1950s Washington, D.C. had a NBA team c...",the Capitols,NaN,-,2018-07-27
12033,2,1200,no,DEFUNCT SPORTS FRANCHISES,-,"From 1974 to 1976, this city had a pro basketb...",St. Louis,NaN,-,2018-07-27
12034,2,1600,no,DEFUNCT SPORTS FRANCHISES,-,The Stapletons briefly brought NFL action to t...,Staten Island,NaN,-,2018-07-27
12035,2,2000,yes,DEFUNCT SPORTS FRANCHISES,-,In 1914 & 1915 the Terrapins repped this town ...,Baltimore,NaN,-,2018-07-27
12036,2,400,no,NORSE GODS,-,"We can thank Freya, the goddess of love, for t...",Friday,NaN,-,2018-07-27
12037,2,800,no,NORSE GODS,-,"Hermod, whose name means ""war spirit"", perform...",delivering messages (or messenger),NaN,-,2018-07-27
12038,2,1200,no,NORSE GODS,-,"Known for his eloquence & knowledge, Bragi was...",poems,NaN,-,2018-07-27
12039,2,1600,no,NORSE GODS,-,"Delling, whose name means ""luminous one"", was ...",sunrise,NaN,-,2018-07-27
12040,2,400,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,To restrict distribution of something scarce,ration,NaN,-,2018-07-27
12041,2,800,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,"A facetious, often bawdy tribute banquet",a roast,NaN,-,2018-07-27
12042,2,1200,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,Irregular plural word for multiple layers of s...,strata,NaN,-,2018-07-27
12043,2,1600,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,To lean or tilt to one side,list (or slant),NaN,-,2018-07-27
12044,2,2000,no,FOUND IN TRANSLATION,(Alex: Each correct response will be a word--a...,Push the blue button in your GM car to get thi...,OnStar,NaN,-,2018-07-27
12045,3,0,no,AMERICAN HISTORY,-,The last survivor of this battle that started ...,the Battle of Lexington,NaN,-,2018-07-27

In [19]:
 df['category'].values

array(['LAKES & RIVERS', 'LAKES & RIVERS', 'LAKES & RIVERS', ...,
       'FOUND IN TRANSLATION', 'FOUND IN TRANSLATION', 'AMERICAN HISTORY'],
      dtype=object)

In [20]:
a = df['category'].unique()
a.sort()
print(a)

[' A JIM CARREY FILM FESTIVAL' '#1 HITS' '#1 SONGS' ... '‚ÄúSOUTH‚Äù'
 '‚ÄúSTREETS‚Äù' '‚ÄúWH‚ÄùAT IS IT?']

In [21]:
 df['category'].value_counts()

SCIENCE                                        842
LITERATURE                                     794
AMERICAN HISTORY                               757
HISTORY                                        701
SPORTS                                         700
POTPOURRI                                      679
BEFORE & AFTER                                 656
WORD ORIGINS                                   655
WORLD HISTORY                                  635
WORLD GEOGRAPHY                                625
BUSINESS & INDUSTRY                            591
U.S. CITIES                                    565
TRANSPORTATION                                 549
RELIGION                                       540
COLLEGES & UNIVERSITIES                        539
ART                                            524
WORLD CAPITALS                                 508
ANIMALS                                        503
U.S. HISTORY                                   495
U.S. GEOGRAPHY                                 493
BOOKS & AUTHORS                                491
AUTHORS                                        489
BODIES OF WATER                                481
STATE CAPITALS                                 473
THE BIBLE                                      469
ISLANDS                                        468
SHAKESPEARE                                    464
LANGUAGES                                      459
FOOD                                           458
MYTHOLOGY                                      439
                                              ...
THE PRESIDENTIAL OATH OF OFFICE                  1
FAMOUS SCANDINAVIANS                             1
GEOGRAPHY NEWS                                   1
IDAHO                                            1
1998 BUSINESS NEWS                               1
SHOW BUSINESS FAMILIES                           1
SANTA FE                                         1
LITERARY GREATS                                  1
BORN IN THE 1960s                                1
AMERICAN THEATER                                 1
20th CENTURY INNOVATIONS                         1
WORDS IN 20th CENTURY NOVELS                     1
CABINET OFFICERS                                 1
AUTHORS & FILMMAKERS                             1
NATIVE AMERICAN FOODS                            1
BESTSELLING NOVELISTS                            1
HISTORY & LITERATURE                             1
GEOGRAPHIC ADJECTIVES                            1
BRITISH POP MUSIC                                1
REMEMBERING U.S. HISTORY                         1
LINES FROM 19th CENTURY NOVELS                   1
INTERNATIONAL FILM AWARDS                        1
NYC TICKER-TAPE PARADE HONOREES                  1
FAMOUS STRUCTURES                                1
\'70s OSCARS                                     1
THE SEA                                          1
ROCK & ROLL HALL OF FAME INDUCTION SPEECHES      1
SPORTS & RECREATION                              1
AMERICAN INNOVATORS                              1
FICTIONAL BEINGS                                 1
Name: category, Length: 41594, dtype: int64

In [22]:
 df['category'].value_counts().nlargest(20)

SCIENCE                    842
LITERATURE                 794
AMERICAN HISTORY           757
HISTORY                    701
SPORTS                     700
POTPOURRI                  679
BEFORE & AFTER             656
WORD ORIGINS               655
WORLD HISTORY              635
WORLD GEOGRAPHY            625
BUSINESS & INDUSTRY        591
U.S. CITIES                565
TRANSPORTATION             549
RELIGION                   540
COLLEGES & UNIVERSITIES    539
ART                        524
WORLD CAPITALS             508
ANIMALS                    503
U.S. HISTORY               495
U.S. GEOGRAPHY             493
Name: category, dtype: int64

In [23]:
largest20 =  df['category'].value_counts().nlargest(20)

In [24]:
largest20.describe

<bound method NDFrame.describe of SCIENCE                    842
LITERATURE                 794
AMERICAN HISTORY           757
HISTORY                    701
SPORTS                     700
POTPOURRI                  679
BEFORE & AFTER             656
WORD ORIGINS               655
WORLD HISTORY              635
WORLD GEOGRAPHY            625
BUSINESS & INDUSTRY        591
U.S. CITIES                565
TRANSPORTATION             549
RELIGION                   540
COLLEGES & UNIVERSITIES    539
ART                        524
WORLD CAPITALS             508
ANIMALS                    503
U.S. HISTORY               495
U.S. GEOGRAPHY             493
Name: category, dtype: int64>

In [25]:
largest20

SCIENCE                    842
LITERATURE                 794
AMERICAN HISTORY           757
HISTORY                    701
SPORTS                     700
POTPOURRI                  679
BEFORE & AFTER             656
WORD ORIGINS               655
WORLD HISTORY              635
WORLD GEOGRAPHY            625
BUSINESS & INDUSTRY        591
U.S. CITIES                565
TRANSPORTATION             549
RELIGION                   540
COLLEGES & UNIVERSITIES    539
ART                        524
WORLD CAPITALS             508
ANIMALS                    503
U.S. HISTORY               495
U.S. GEOGRAPHY             493
Name: category, dtype: int64

In [26]:
df20 = pd.DataFrame(largest20)
df20

                         category
SCIENCE                       842
LITERATURE                    794
AMERICAN HISTORY              757
HISTORY                       701
SPORTS                        700
POTPOURRI                     679
BEFORE & AFTER                656
WORD ORIGINS                  655
WORLD HISTORY                 635
WORLD GEOGRAPHY               625
BUSINESS & INDUSTRY           591
U.S. CITIES                   565
TRANSPORTATION                549
RELIGION                      540
COLLEGES & UNIVERSITIES       539
ART                           524
WORLD CAPITALS                508
ANIMALS                       503
U.S. HISTORY                  495
U.S. GEOGRAPHY                493

In [27]:
category_list = df20.index.tolist()
category_list

['SCIENCE',
 'LITERATURE',
 'AMERICAN HISTORY',
 'HISTORY',
 'SPORTS',
 'POTPOURRI',
 'BEFORE & AFTER',
 'WORD ORIGINS',
 'WORLD HISTORY',
 'WORLD GEOGRAPHY',
 'BUSINESS & INDUSTRY',
 'U.S. CITIES',
 'TRANSPORTATION',
 'RELIGION',
 'COLLEGES & UNIVERSITIES',
 'ART',
 'WORLD CAPITALS',
 'ANIMALS',
 'U.S. HISTORY',
 'U.S. GEOGRAPHY']

In [28]:
for category in category_list:
    print(category)

SCIENCE
LITERATURE
AMERICAN HISTORY
HISTORY
SPORTS
POTPOURRI
BEFORE & AFTER
WORD ORIGINS
WORLD HISTORY
WORLD GEOGRAPHY
BUSINESS & INDUSTRY
U.S. CITIES
TRANSPORTATION
RELIGION
COLLEGES & UNIVERSITIES
ART
WORLD CAPITALS
ANIMALS
U.S. HISTORY
U.S. GEOGRAPHY

In [ ]:
#for category in category list
#search for that category in df1
#create new dataframe from df1 that contains name of category
#continue to create new for every category in category list

In [29]:
df.head()

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,NaN,-,1984-09-10
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,NaN,-,1984-09-10
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,NaN,-,1984-09-10
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,NaN,-,1984-09-10
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,NaN,-,1984-09-10

In [30]:
df1 = df[['category', 'question', 'answer']]
df1

,category,question,answer
0,LAKES & RIVERS,the Jordan,River mentioned most often in the Bible
1,LAKES & RIVERS,loch,Scottish word for lake
2,LAKES & RIVERS,the Missouri,American river only 33 miles shorter than the ...
3,LAKES & RIVERS,the Caspian Sea,"World's largest lake, nearly 5 times as big as..."
4,INVENTIONS,the radio,Marconi's wonderful wireless
5,INVENTIONS,the rickshaw,"In 1869 an American minister created this ""ori..."
6,INVENTIONS,freezing,A 1920's hunting trip to Canada inspired Birds...
7,INVENTIONS,a zipper,This fastener gets its name from a brand of ga...
8,ANIMALS,rats,These rodents first got to America by stowing ...
9,ANIMALS,the trunk,"There are about 40,000 muscles & tendons in th..."
10,ANIMALS,a weasel,"When husbands ""pop"" for an ermine coat, they'r..."
11,ANIMALS,the hippopotamus,"Close relative of the pig, though its name mea..."
12,ANIMALS,mule,If this species of hybrid's parents were rever...
13,FOREIGN CUISINE,chicken,"The ""coq"" in coq au vin"
14,FOREIGN CUISINE,sausages,"A British variety is called ""bangers"", a Mexic..."
15,FOREIGN CUISINE,a blintz,Jewish crepe filled with cheese
16,FOREIGN CUISINE,Ch√¢teaubriand,French for a toothsome cut of beef served to a...
17,ACTORS & ROLES,"\""Thriller\""",Video in which Michael Jackson plays a werewol...
18,ACTORS & ROLES,Dan Aykroyd & Eddie Murphy,"2 ""Saturday Night"" alumni who tried ""Trading P..."
19,ACTORS & ROLES,Sean Connery,"He may ""Never Say Never Again"" when asked to b..."
20,ACTORS & ROLES,Marilyn Monroe,"The blonde preferred in the film ""Gentlemen Pr..."
21,ACTORS & ROLES,Colonel Chuck Yeager,"Sam Shepard played this barrier breaker in ""Th..."
22,THE BIBLE,the walls,"When ""Joshua Fit The Battle Of Jericho"", these..."
23,THE BIBLE,Judas,His price was 30 pieces of silver
24,THE BIBLE,the forbidden fruit (or the fruit of the Tree ...,"According to the Bible, it wasn't necessarily ..."
25,THE BIBLE,Jerusalem,"Though its name means ""city of peace"", it's se..."
26,THE BIBLE,the love of money,"According to 1st Timothy, it is the ""root of a..."
27,\'50'S TV,private eyes (or private detectives),"Occupation of Richard Diamond, Peter Gunn & Mi..."
28,\'50'S TV,Eve Arden,"She was ""Our Miss Brooks\"""
29,\'50'S TV,$1 million,Amount Michael Anthony gave out each week on b...
...,...,...,...
12016,SOUNDS LIKE IT TO ME,pitter-patter,"Hearing this hyphenated sound ""of tiny feet"" m..."
12017,SOUNDS LIKE IT TO ME,chug,"After a few hours in the hot sun, I'm ready to..."
12018,SOUNDS LIKE IT TO ME,whinny,Hey! It's a 6-letter bray from Mr. Ed
12019,KEEP ON TRUCKIN\',a semi (or tractor),"This word is combined with ""trailer"" in a stan..."
12020,KEEP ON TRUCKIN\',a wrecker (or tow truck),"In trucker jargon, a ""dragon wagon"" is one of ..."
12021,KEEP ON TRUCKIN\',eighteen,"Many large trucks have this many gears, matchi..."
12022,CLASSICAL MUSIC TERMS,pizzicato,"Italian for ""plucked\"""
12023,CLASSICAL MUSIC TERMS,alto,"4 letters--Italian for ""high\"""
12024,CLASSICAL MUSIC TERMS,allemande,"French for ""German\"""
12025,CLASSICAL MUSIC TERMS,basso profundo,"Italian for ""deep bass\"""
12026,CLASSICAL MUSIC TERMS,da capo,"Italian for ""from the head\"""
12027,AROUND THE BODY,ovaries,It's the more common name for the female gonads
12028,AROUND THE BODY,the wrist,"Arranged in 2 rows, 8 small carpal bones make ..."
12029,AROUND THE BODY,exocrine and endocrine,"Named for the way they release secretions, the..."
12030,AROUND THE BODY,the carotid arteries,The left one of these arteries originates over...
12031,DEFUNCT SPORTS FRANCHISES,Buffalo,"Between 1879 & 1915, this N.Y. city had 3 diff..."
12032,DEFUNCT SPORTS FRANCHISES,the Capitols,"In the 1950s Washington, D.C. had a NBA team c..."
12033,DEFUNCT SPORTS FRANCHISES,St. Louis,"From 1974 to 1976, this city had a pro basketb..."
12034,DEFUNCT SPORTS FRANCHISES,Staten Island,The Stapletons briefly brought NFL action to t...
12035,DEFUNCT SPORTS FRANCHISES,Baltimore,In 1914 & 1915 the Terrapins repped this town ...
12036,NORSE GODS,Friday,"We can thank Freya, the goddess of love, for t..."
12037,NORSE GODS,delivering messages (or messenger),"Hermod, whose name means ""war spirit"", perform..."
12038,NORSE GODS,poems,"Known for his eloquence & knowledge, Bragi was..."
12039,NORSE GODS,sunrise,"Delling, whose name means ""luminous one"", was ..."
12040,FOUND IN TRANSLATION,ration,To restrict distribution of something scarce
12041,FOUND IN TRANSLATION,a roast,"A facetious, often bawdy tribute banquet"
12042,FOUND IN TRANSLATION,strata,Irregular plural word for multiple layers of s...
12043,FOUND IN TRANSLATION,list (or slant),To lean or tilt to one side
12044,FOUND IN TRANSLATION,OnStar,Push the blue button in your GM car to get thi...
12045,AMERICAN HISTORY,the Battle of Lexington,The last survivor of this battle that started ...

In [31]:
uniquecategories = df1.category.unique()

In [32]:
categorydict = {elem : pd.DataFrame() for elem in uniquecategories}

In [33]:
categorydict

{'LAKES & RIVERS': Empty DataFrame
 Columns: []
 Index: [], 'INVENTIONS': Empty DataFrame
 Columns: []
 Index: [], 'ANIMALS': Empty DataFrame
 Columns: []
 Index: [], 'FOREIGN CUISINE': Empty DataFrame
 Columns: []
 Index: [], 'ACTORS & ROLES': Empty DataFrame
 Columns: []
 Index: [], 'THE BIBLE': Empty DataFrame
 Columns: []
 Index: [], "\\'50'S TV": Empty DataFrame
 Columns: []
 Index: [], 'NATIONAL LANDMARKS': Empty DataFrame
 Columns: []
 Index: [], 'NOTORIOUS': Empty DataFrame
 Columns: []
 Index: [], '4-LETTER WORDS': Empty DataFrame
 Columns: []
 Index: [], 'HOLIDAYS': Empty DataFrame
 Columns: []
 Index: [], 'STATE CAPITALS': Empty DataFrame
 Columns: []
 Index: [], "THE '40'S": Empty DataFrame
 Columns: []
 Index: [], 'TRANSPORTATION': Empty DataFrame
 Columns: []
 Index: [], 'COUNTRY MUSIC': Empty DataFrame
 Columns: []
 Index: [], 'BY THE NUMBERS': Empty DataFrame
 Columns: []
 Index: [], 'WILD WEST': Empty DataFrame
 Columns: []
 Index: [], 'OPERA': Empty DataFrame
 Columns: []
 Index: [], 'SPORTS': Empty DataFrame
 Columns: []
 Index: [], 'BIOLOGY': Empty DataFrame
 Columns: []
 Index: [], 'FOREIGN PHRASES': Empty DataFrame
 Columns: []
 Index: [], 'RELIGION': Empty DataFrame
 Columns: []
 Index: [], 'THE CALENDAR': Empty DataFrame
 Columns: []
 Index: [], 'U.S. HISTORY': Empty DataFrame
 Columns: []
 Index: [], '3-LETTER WORDS': Empty DataFrame
 Columns: []
 Index: [], 'AUTOMOBILES': Empty DataFrame
 Columns: []
 Index: [], 'BROADWAY': Empty DataFrame
 Columns: []
 Index: [], 'ROYALTY': Empty DataFrame
 Columns: []
 Index: [], 'NEW TESTAMENT': Empty DataFrame
 Columns: []
 Index: [], 'COLLEGES': Empty DataFrame
 Columns: []
 Index: [], 'MOUNTAINS': Empty DataFrame
 Columns: []
 Index: [], 'WORLD OF FOOD': Empty DataFrame
 Columns: []
 Index: [], 'BASEBALL': Empty DataFrame
 Columns: []
 Index: [], 'ASTRONOMY': Empty DataFrame
 Columns: []
 Index: [], 'LANGUAGE': Empty DataFrame
 Columns: []
 Index: [], 'GEOGRAPHY': Empty DataFrame
 Columns: []
 Index: [], 'TOYS & GAMES': Empty DataFrame
 Columns: []
 Index: [], 'FLOWERS & TREES': Empty DataFrame
 Columns: []
 Index: [], 'TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'THE CIVIL WAR': Empty DataFrame
 Columns: []
 Index: [], 'ANATOMY': Empty DataFrame
 Columns: []
 Index: [], 'MOVIES': Empty DataFrame
 Columns: []
 Index: [], 'ALPHABET SOUP': Empty DataFrame
 Columns: []
 Index: [], 'BUSINESS & INDUSTRY': Empty DataFrame
 Columns: []
 Index: [], 'AMERICAN GOVERNMENT': Empty DataFrame
 Columns: []
 Index: [], 'AMERICAN LITERATURE': Empty DataFrame
 Columns: []
 Index: [], 'ALL NUMBERS': Empty DataFrame
 Columns: []
 Index: [], 'NATIONAL PARKS': Empty DataFrame
 Columns: []
 Index: [], 'TRIOS': Empty DataFrame
 Columns: []
 Index: [], 'CHEMISTRY': Empty DataFrame
 Columns: []
 Index: [], 'THE PRESS': Empty DataFrame
 Columns: []
 Index: [], 'TRAVEL & TOURISM': Empty DataFrame
 Columns: []
 Index: [], 'STARTS WITH "J\\"': Empty DataFrame
 Columns: []
 Index: [], 'SHAKESPEARE': Empty DataFrame
 Columns: []
 Index: [], 'SPORT OF KINGS': Empty DataFrame
 Columns: []
 Index: [], 'THE OLYMPICS': Empty DataFrame
 Columns: []
 Index: [], 'FICTION': Empty DataFrame
 Columns: []
 Index: [], 'FIRST LADIES': Empty DataFrame
 Columns: []
 Index: [], 'MYSTERIES': Empty DataFrame
 Columns: []
 Index: [], 'RACY LADIES': Empty DataFrame
 Columns: []
 Index: [], 'ADDRESSES': Empty DataFrame
 Columns: []
 Index: [], 'BLACK AMERICA': Empty DataFrame
 Columns: []
 Index: [], 'GRAMMAR': Empty DataFrame
 Columns: []
 Index: [], 'BROTHERS & SISTERS': Empty DataFrame
 Columns: []
 Index: [], 'GREEK MYTHOLOGY': Empty DataFrame
 Columns: []
 Index: [], 'FOODS': Empty DataFrame
 Columns: []
 Index: [], 'SOVIET UNION': Empty DataFrame
 Columns: []
 Index: [], 'SCIENCE': Empty DataFrame
 Columns: []
 Index: [], 'DOUBLE TALK': Empty DataFrame
 Columns: []
 Index: [], '\\"JACKS" OF ALL TRADES': Empty DataFrame
 Columns: []
 Index: [], 'SHIPS': Empty DataFrame
 Columns: []
 Index: [], '\\"B" MOVIES': Empty DataFrame
 Columns: []
 Index: [], 'LABOR UNIONS': Empty DataFrame
 Columns: []
 Index: [], '1789': Empty DataFrame
 Columns: []
 Index: [], 'TOURIST TRAPS': Empty DataFrame
 Columns: []
 Index: [], 'LITERATURE': Empty DataFrame
 Columns: []
 Index: [], 'HOMONYMS': Empty DataFrame
 Columns: []
 Index: [], 'TV TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'U.S. PRESIDENTS': Empty DataFrame
 Columns: []
 Index: [], "GAY '90S": Empty DataFrame
 Columns: []
 Index: [], 'POTENT POTABLES': Empty DataFrame
 Columns: []
 Index: [], 'STATES IN SONG': Empty DataFrame
 Columns: []
 Index: [], 'OLD TESTAMENT': Empty DataFrame
 Columns: []
 Index: [], 'STARTS WITH "Q\\"': Empty DataFrame
 Columns: []
 Index: [], 'MUSICAL INSTRUMENTS': Empty DataFrame
 Columns: []
 Index: [], 'LANDMARKS': Empty DataFrame
 Columns: []
 Index: [], 'TITLED HEADS': Empty DataFrame
 Columns: []
 Index: [], 'WORLD CAPITALS': Empty DataFrame
 Columns: []
 Index: [], 'MAMMALS': Empty DataFrame
 Columns: []
 Index: [], 'BEGINS WITH "L\\"': Empty DataFrame
 Columns: []
 Index: [], 'U.S. STATES': Empty DataFrame
 Columns: []
 Index: [], '5-LETTER WORDS': Empty DataFrame
 Columns: []
 Index: [], 'MUSIC': Empty DataFrame
 Columns: []
 Index: [], 'LAW': Empty DataFrame
 Columns: []
 Index: [], 'WEATHER': Empty DataFrame
 Columns: []
 Index: [], 'MOVIE TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'RIVERS': Empty DataFrame
 Columns: []
 Index: [], 'ISLANDS': Empty DataFrame
 Columns: []
 Index: [], 'SILLY SONGS': Empty DataFrame
 Columns: []
 Index: [], 'MONEY': Empty DataFrame
 Columns: []
 Index: [], '1968': Empty DataFrame
 Columns: []
 Index: [], 'BRITISH HISTORY': Empty DataFrame
 Columns: []
 Index: [], 'WOMEN AUTHORS': Empty DataFrame
 Columns: []
 Index: [], 'SCULPTURE': Empty DataFrame
 Columns: []
 Index: [], '\\"NICK" NAMES': Empty DataFrame
 Columns: []
 Index: [], 'THE SOLAR SYSTEM': Empty DataFrame
 Columns: []
 Index: [], 'WORLD LEADERS': Empty DataFrame
 Columns: []
 Index: [], 'AUGUST': Empty DataFrame
 Columns: []
 Index: [], 'HOT MOVIES': Empty DataFrame
 Columns: []
 Index: [], 'THE 20TH CENTURY': Empty DataFrame
 Columns: []
 Index: [], 'TRAVEL': Empty DataFrame
 Columns: []
 Index: [], 'AMERICAN INDIANS': Empty DataFrame
 Columns: []
 Index: [], 'THE "PITS\\"': Empty DataFrame
 Columns: []
 Index: [], 'EDUCATION': Empty DataFrame
 Columns: []
 Index: [], 'TRENDS': Empty DataFrame
 Columns: []
 Index: [], 'THE COMICS': Empty DataFrame
 Columns: []
 Index: [], 'THE HOME': Empty DataFrame
 Columns: []
 Index: [], 'WORLD SERIES': Empty DataFrame
 Columns: []
 Index: [], 'TYPES OF GOVERNMENT': Empty DataFrame
 Columns: []
 Index: [], 'TV TRADEMARKS': Empty DataFrame
 Columns: []
 Index: [], 'MATHEMATICS': Empty DataFrame
 Columns: []
 Index: [], 'PRESIDENTS': Empty DataFrame
 Columns: []
 Index: [], 'TELEVISION': Empty DataFrame
 Columns: []
 Index: [], 'STARTS WITH "H\\"': Empty DataFrame
 Columns: []
 Index: [], 'BODIES OF WATER': Empty DataFrame
 Columns: []
 Index: [], 'PEOPLE': Empty DataFrame
 Columns: []
 Index: [], 'PROVERBS': Empty DataFrame
 Columns: []
 Index: [], 'WORLD WAR I': Empty DataFrame
 Columns: []
 Index: [], 'WORLD CITIES': Empty DataFrame
 Columns: []
 Index: [], 'BRIDGES': Empty DataFrame
 Columns: []
 Index: [], 'SINGERS & DANCERS': Empty DataFrame
 Columns: []
 Index: [], '\\"FRIDAYS\\"': Empty DataFrame
 Columns: []
 Index: [], '1959': Empty DataFrame
 Columns: []
 Index: [], 'CARTOONS': Empty DataFrame
 Columns: []
 Index: [], 'VICE-PRESIDENTS': Empty DataFrame
 Columns: []
 Index: [], 'ASTROLOGY': Empty DataFrame
 Columns: []
 Index: [], 'CONQUERORS': Empty DataFrame
 Columns: []
 Index: [], 'MOVIE TALK': Empty DataFrame
 Columns: []
 Index: [], 'PALINDROMES': Empty DataFrame
 Columns: []
 Index: [], 'SPAIN': Empty DataFrame
 Columns: []
 Index: [], '1953': Empty DataFrame
 Columns: []
 Index: [], 'FAST FOOD': Empty DataFrame
 Columns: []
 Index: [], '\\"TOASTS\\"': Empty DataFrame
 Columns: []
 Index: [], 'OSCAR SONGS': Empty DataFrame
 Columns: []
 Index: [], 'ECONOMICS': Empty DataFrame
 Columns: []
 Index: [], 'FAMOUS QUOTES': Empty DataFrame
 Columns: []
 Index: [], 'DRAMA': Empty DataFrame
 Columns: []
 Index: [], 'BIRDS': Empty DataFrame
 Columns: []
 Index: [], 'WHITE HOUSE': Empty DataFrame
 Columns: []
 Index: [], 'SPORTS TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'U.S. GEOGRAPHY': Empty DataFrame
 Columns: []
 Index: [], 'LEGENDS': Empty DataFrame
 Columns: []
 Index: [], 'GENERALS': Empty DataFrame
 Columns: []
 Index: [], '\\"CAN" IT': Empty DataFrame
 Columns: []
 Index: [], 'ENGLISH LITERATURE': Empty DataFrame
 Columns: []
 Index: [], 'INSECTS': Empty DataFrame
 Columns: []
 Index: [], 'POLITICAL QUOTES': Empty DataFrame
 Columns: []
 Index: [], 'HITCHCOCK': Empty DataFrame
 Columns: []
 Index: [], 'NAMESAKES': Empty DataFrame
 Columns: []
 Index: [], 'MEDICINE': Empty DataFrame
 Columns: []
 Index: [], '\\"SHELLS\\"': Empty DataFrame
 Columns: []
 Index: [], 'FORMER OCCUPATION': Empty DataFrame
 Columns: []
 Index: [], 'TWINS': Empty DataFrame
 Columns: []
 Index: [], 'CLASSICAL MUSIC': Empty DataFrame
 Columns: []
 Index: [], 'POLITICS': Empty DataFrame
 Columns: []
 Index: [], 'SPORTS SHIFTS': Empty DataFrame
 Columns: []
 Index: [], 'WORLD GEOGRAPHY': Empty DataFrame
 Columns: []
 Index: [], "THE '40S": Empty DataFrame
 Columns: []
 Index: [], 'BOATS': Empty DataFrame
 Columns: []
 Index: [], 'BALLET': Empty DataFrame
 Columns: []
 Index: [], '\\"MARCH" ON': Empty DataFrame
 Columns: []
 Index: [], 'JAPAN': Empty DataFrame
 Columns: []
 Index: [], 'COLONIAL AMERICA': Empty DataFrame
 Columns: []
 Index: [], 'DEMOCRATS': Empty DataFrame
 Columns: []
 Index: [], 'MUSICAL NUMBERS': Empty DataFrame
 Columns: []
 Index: [], 'THE ARMED SERVICES': Empty DataFrame
 Columns: []
 Index: [], 'AFRICA': Empty DataFrame
 Columns: []
 Index: [], 'FOOD': Empty DataFrame
 Columns: []
 Index: [], 'FIRST AID': Empty DataFrame
 Columns: []
 Index: [], 'NUMBER PLEASE': Empty DataFrame
 Columns: []
 Index: [], 'BEN FRANKLIN': Empty DataFrame
 Columns: []
 Index: [], 'WORLD OF FASHION': Empty DataFrame
 Columns: []
 Index: [], 'ART': Empty DataFrame
 Columns: []
 Index: [], 'TV DETECTIVES': Empty DataFrame
 Columns: []
 Index: [], 'BRITISH ISLES': Empty DataFrame
 Columns: []
 Index: [], '1945': Empty DataFrame
 Columns: []
 Index: [], 'FASHION': Empty DataFrame
 Columns: []
 Index: [], 'HOT SPOTS': Empty DataFrame
 Columns: []
 Index: [], 'SPACE': Empty DataFrame
 Columns: []
 Index: [], 'TRADE CENTERS': Empty DataFrame
 Columns: []
 Index: [], 'GOVERNMENT': Empty DataFrame
 Columns: []
 Index: [], 'BROADWAY MUSICALS': Empty DataFrame
 Columns: []
 Index: [], 'COLORFUL GEOGRAPHY': Empty DataFrame
 Columns: []
 Index: [], 'GAY BLADES': Empty DataFrame
 Columns: []
 Index: [], 'ANCIENT GREECE': Empty DataFrame
 Columns: []
 Index: [], 'TRAINS': Empty DataFrame
 Columns: []
 Index: [], 'RADIO HEROES': Empty DataFrame
 Columns: []
 Index: [], 'SPIDERS': Empty DataFrame
 Columns: []
 Index: [], "\\'60s TRIVIA": Empty DataFrame
 Columns: []
 Index: [], 'SAINTLY CITIES': Empty DataFrame
 Columns: []
 Index: [], 'SUPER HEROES': Empty DataFrame
 Columns: []
 Index: [], 'FIRSTS': Empty DataFrame
 Columns: []
 Index: [], 'WARS': Empty DataFrame
 Columns: []
 Index: [], 'TV ANIMALS': Empty DataFrame
 Columns: []
 Index: [], 'GLASS': Empty DataFrame
 Columns: []
 Index: [], 'INDIANS': Empty DataFrame
 Columns: []
 Index: [], 'ENGLAND': Empty DataFrame
 Columns: []
 Index: [], 'EUROPE': Empty DataFrame
 Columns: []
 Index: [], 'WASHINGTON D.C.': Empty DataFrame
 Columns: []
 Index: [], 'COLORS': Empty DataFrame
 Columns: []
 Index: [], 'A LA "CART\\"': Empty DataFrame
 Columns: []
 Index: [], 'BIG BANDS': Empty DataFrame
 Columns: []
 Index: [], 'BEES': Empty DataFrame
 Columns: []
 Index: [], 'FOLK MUSIC': Empty DataFrame
 Columns: []
 Index: [], 'HATS': Empty DataFrame
 Columns: []
 Index: [], 'ZOOLOGY': Empty DataFrame
 Columns: []
 Index: [], 'HOTEL NAMES': Empty DataFrame
 Columns: []
 Index: [], 'SHOW BUSINESS': Empty DataFrame
 Columns: []
 Index: [], 'NURSERY RHYMES': Empty DataFrame
 Columns: []
 Index: [], 'BOXING': Empty DataFrame
 Columns: []
 Index: [], 'POE': Empty DataFrame
 Columns: []
 Index: [], 'CABLE TV': Empty DataFrame
 Columns: []
 Index: [], 'GEOLOGY': Empty DataFrame
 Columns: []
 Index: [], 'THANKSGIVING': Empty DataFrame
 Columns: []
 Index: [], 'STREISAND FILMS': Empty DataFrame
 Columns: []
 Index: [], 'BOTANY': Empty DataFrame
 Columns: []
 Index: [], 'U.S. CITIES': Empty DataFrame
 Columns: []
 Index: [], '\\"IN" CROWD': Empty DataFrame
 Columns: []
 Index: [], 'WORLD HISTORY': Empty DataFrame
 Columns: []
 Index: [], 'STARTS WITH "B\\"': Empty DataFrame
 Columns: []
 Index: [], 'WATER SPORTS': Empty DataFrame
 Columns: []
 Index: [], 'ALL THAT JAZZ': Empty DataFrame
 Columns: []
 Index: [], 'HISTORY': Empty DataFrame
 Columns: []
 Index: [], 'THE DESERT': Empty DataFrame
 Columns: []
 Index: [], 'ODD JOBS': Empty DataFrame
 Columns: []
 Index: [], 'SOUTH AMERICA': Empty DataFrame
 Columns: []
 Index: [], 'HUMAN VISION': Empty DataFrame
 Columns: []
 Index: [], 'PRESIDENTIAL FIRSTS': Empty DataFrame
 Columns: []
 Index: [], '\\"ANDY\\"': Empty DataFrame
 Columns: []
 Index: [], 'ELECTIONS': Empty DataFrame
 Columns: []
 Index: [], 'GOLF': Empty DataFrame
 Columns: []
 Index: [], 'THE AMERICAS': Empty DataFrame
 Columns: []
 Index: [], 'COMEDIANS': Empty DataFrame
 Columns: []
 Index: [], 'AWARDS': Empty DataFrame
 Columns: []
 Index: [], 'ENGLISH HISTORY': Empty DataFrame
 Columns: []
 Index: [], 'U.S. SENATE': Empty DataFrame
 Columns: []
 Index: [], 'WOMEN IN HISTORY': Empty DataFrame
 Columns: []
 Index: [], 'ANCIENT WORLDS': Empty DataFrame
 Columns: []
 Index: [], 'HOLLYWOOD LEGENDS': Empty DataFrame
 Columns: []
 Index: [], 'CARS': Empty DataFrame
 Columns: []
 Index: [], '\\"HARD\\"': Empty DataFrame
 Columns: []
 Index: [], 'NEWSPAPERS': Empty DataFrame
 Columns: []
 Index: [], 'CIVIL WARS': Empty DataFrame
 Columns: []
 Index: [], 'MUSICIANS': Empty DataFrame
 Columns: []
 Index: [], 'DRUGS': Empty DataFrame
 Columns: []
 Index: [], '\\"EASY\\"': Empty DataFrame
 Columns: []
 Index: [], 'FLAGS': Empty DataFrame
 Columns: []
 Index: [], 'TIME': Empty DataFrame
 Columns: []
 Index: [], 'DINING OUT': Empty DataFrame
 Columns: []
 Index: [], "CHILDREN'S LITERATURE": Empty DataFrame
 Columns: []
 Index: [], '\\"AC"/"DC\\"': Empty DataFrame
 Columns: []
 Index: [], "GOV'T & POLITICS": Empty DataFrame
 Columns: []
 Index: [], '\\"STATE" NAMES': Empty DataFrame
 Columns: []
 Index: [], "\\'40s TRIVIA": Empty DataFrame
 Columns: []
 Index: [], 'THE "IN" CROWD': Empty DataFrame
 Columns: []
 Index: [], 'GYMNASTICS': Empty DataFrame
 Columns: []
 Index: [], 'INVENTORS': Empty DataFrame
 Columns: []
 Index: [], 'AGRICULTURE': Empty DataFrame
 Columns: []
 Index: [], 'SONGS OF WAR': Empty DataFrame
 Columns: []
 Index: [], 'LAST WORDS': Empty DataFrame
 Columns: []
 Index: [], "P'S & Q'S": Empty DataFrame
 Columns: []
 Index: [], '1965': Empty DataFrame
 Columns: []
 Index: [], 'GAMES': Empty DataFrame
 Columns: []
 Index: [], 'ARCHAEOLOGY': Empty DataFrame
 Columns: []
 Index: [], 'SLEEP': Empty DataFrame
 Columns: []
 Index: [], 'NUCLEAR PHYSICS': Empty DataFrame
 Columns: []
 Index: [], 'FIRST LINES': Empty DataFrame
 Columns: []
 Index: [], 'MIRACLES': Empty DataFrame
 Columns: []
 Index: [], 'VEGETABLES': Empty DataFrame
 Columns: []
 Index: [], '\\"MC" NAMES': Empty DataFrame
 Columns: []
 Index: [], 'PRISONS': Empty DataFrame
 Columns: []
 Index: [], 'COMPOSERS': Empty DataFrame
 Columns: []
 Index: [], 'TIMELY LITERATURE': Empty DataFrame
 Columns: []
 Index: [], 'AUSTRALIA': Empty DataFrame
 Columns: []
 Index: [], '\\"CAT" EGORY': Empty DataFrame
 Columns: []
 Index: [], 'STARTS WITH "A\\"': Empty DataFrame
 Columns: []
 Index: [], 'ARCHITECTURE': Empty DataFrame
 Columns: []
 Index: [], 'GEMS': Empty DataFrame
 Columns: []
 Index: [], 'THE ZODIAC': Empty DataFrame
 Columns: []
 Index: [], 'WORD ORIGINS': Empty DataFrame
 Columns: []
 Index: [], 'WEIGHTS & MEASURES': Empty DataFrame
 Columns: []
 Index: [], 'HOWDY DOODY': Empty DataFrame
 Columns: []
 Index: [], 'THE MILITARY': Empty DataFrame
 Columns: []
 Index: [], 'BOOKS & AUTHORS': Empty DataFrame
 Columns: []
 Index: [], 'HISTORICAL TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'DOUBLE MEANINGS': Empty DataFrame
 Columns: []
 Index: [], "THE '50s": Empty DataFrame
 Columns: []
 Index: [], 'RITUALS': Empty DataFrame
 Columns: []
 Index: [], 'POETRY': Empty DataFrame
 Columns: []
 Index: [], 'THE ENGLISH LANGUAGE': Empty DataFrame
 Columns: []
 Index: [], 'EASY MATH': Empty DataFrame
 Columns: []
 Index: [], 'FOOD FACTS': Empty DataFrame
 Columns: []
 Index: [], 'QUOTE, UNQUOTE': Empty DataFrame
 Columns: []
 Index: [], 'EGYPT': Empty DataFrame
 Columns: []
 Index: [], 'CRIME & PUNISHMENT': Empty DataFrame
 Columns: []
 Index: [], 'ROCKS & MINERALS': Empty DataFrame
 Columns: []
 Index: [], 'SOCIAL STUDIES': Empty DataFrame
 Columns: []
 Index: [], 'CURRENT EVENTS': Empty DataFrame
 Columns: []
 Index: [], "ROCK 'N ROLL": Empty DataFrame
 Columns: []
 Index: [], 'TREES': Empty DataFrame
 Columns: []
 Index: [], 'KID STUFF': Empty DataFrame
 Columns: []
 Index: [], 'ASIA': Empty DataFrame
 Columns: []
 Index: [], 'STARTS WITH "OO\\"': Empty DataFrame
 Columns: []
 Index: [], '12-LETTER WORDS': Empty DataFrame
 Columns: []
 Index: [], 'PHILOSOPHY': Empty DataFrame
 Columns: []
 Index: [], '1933': Empty DataFrame
 Columns: []
 Index: [], 'WORD PLAY': Empty DataFrame
 Columns: []
 Index: [], 'CANADA': Empty DataFrame
 Columns: []
 Index: [], 'ODD WORDS': Empty DataFrame
 Columns: []
 Index: [], 'REPUBLICANS': Empty DataFrame
 Columns: []
 Index: [], 'PHYSICS': Empty DataFrame
 Columns: []
 Index: [], 'HYPHENATES': Empty DataFrame
 Columns: []
 Index: [], 'KINGDOMS': Empty DataFrame
 Columns: []
 Index: [], 'FAIRY TALES': Empty DataFrame
 Columns: []
 Index: [], 'PLAYWRIGHTS': Empty DataFrame
 Columns: []
 Index: [], 'USED-UP CARS': Empty DataFrame
 Columns: []
 Index: [], "THE '30S": Empty DataFrame
 Columns: []
 Index: [], '$ IN THE NEWS': Empty DataFrame
 Columns: []
 Index: [], 'PSYCHOLOGY': Empty DataFrame
 Columns: []
 Index: [], 'GERMAN': Empty DataFrame
 Columns: []
 Index: [], 'PRESIDENTIAL TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'DOGS IN LITERATURE': Empty DataFrame
 Columns: []
 Index: [], 'ALPHABETICALLY FIRST': Empty DataFrame
 Columns: []
 Index: [], 'FASHION DESIGNERS': Empty DataFrame
 Columns: []
 Index: [], 'THE RENAISSANCE': Empty DataFrame
 Columns: []
 Index: [], 'NEW ENGLAND': Empty DataFrame
 Columns: []
 Index: [], 'GHOSTS': Empty DataFrame
 Columns: []
 Index: [], 'WOMEN IN SPORTS': Empty DataFrame
 Columns: []
 Index: [], 'FAMILIAR PHRASES': Empty DataFrame
 Columns: []
 Index: [], 'COMPARISONS': Empty DataFrame
 Columns: []
 Index: [], 'BEST SELLERS': Empty DataFrame
 Columns: []
 Index: [], 'MOVIE MATH': Empty DataFrame
 Columns: []
 Index: [], '\\"WHITE\\"': Empty DataFrame
 Columns: []
 Index: [], 'DIRECTIONS': Empty DataFrame
 Columns: []
 Index: [], 'ANIMAL ADJECTIVES': Empty DataFrame
 Columns: []
 Index: [], 'NUMBERS IN SONG': Empty DataFrame
 Columns: []
 Index: [], 'FOOD & DRINK': Empty DataFrame
 Columns: []
 Index: [], 'RENAISSANCE ART': Empty DataFrame
 Columns: []
 Index: [], 'BEER': Empty DataFrame
 Columns: []
 Index: [], 'WEAPONS': Empty DataFrame
 Columns: []
 Index: [], 'FAMOUS COWS': Empty DataFrame
 Columns: []
 Index: [], 'TOUGH TRIVIA': Empty DataFrame
 Columns: []
 Index: [], 'SEA LIFE': Empty DataFrame
 Columns: []
 Index: [], 'SOUTH CAROLINA': Empty DataFrame
 Columns: []
 Index: [], '\\"GREEN"ERY': Empty DataFrame
 Columns: []
 Index: [], '\\"FOR" WORDS': Empty DataFrame
 Columns: []
 Index: [], 'MAGAZINES': Empty DataFrame
 Columns: []
 Index: [], 'THE HUMAN BODY': Empty DataFrame
 Columns: []

In [34]:
df[:][df1.category == category]

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
757,1,100,no,U.S. GEOGRAPHY,-,Much of this largest Louisiana city is below s...,New Orleans,NaN,-,1984-10-04
758,1,200,no,U.S. GEOGRAPHY,-,The leading dairy products state,Wisconsin,NaN,-,1984-10-04
759,1,500,no,U.S. GEOGRAPHY,-,This state's coastline is 2nd in length to Ala...,Florida,NaN,-,1984-10-04
924,2,200,no,U.S. GEOGRAPHY,-,"It's ""where the wind comes sweeping down the p...",Oklahoma,NaN,-,1984-11-26
925,2,400,no,U.S. GEOGRAPHY,-,"State whose counties include Crockett, Zapata ...",Texas,NaN,-,1984-11-26
926,2,700,yes,U.S. GEOGRAPHY,-,"One of two states ending in ""T\""",(1 of) Connecticut and Vermont,NaN,-,1984-11-26
927,2,800,no,U.S. GEOGRAPHY,-,"Historic pass at junction of TN., KY., & VA., ...",the Cumberland Gap,NaN,-,1984-11-26
928,2,1000,no,U.S. GEOGRAPHY,-,Mountain range that surrounds city of Atlanta,the Blue Ridge Mountains,NaN,-,1984-11-26
1383,3,0,no,U.S. GEOGRAPHY,-,The 2 states on both sides of the Mississippi,Louisiana and Minnesota,NaN,-,1984-12-10
1609,3,0,no,U.S. GEOGRAPHY,-,Number of states that touch the Pacific Ocean,5,NaN,-,1984-12-28
1756,1,100,no,U.S. GEOGRAPHY,-,"State whose license plate reads ""Land of 10,00...",Minnesota,NaN,-,1985-03-04
1757,1,200,no,U.S. GEOGRAPHY,-,"Indian name for ""sleepy ones"", 95% of this ""Co...",Iowa,NaN,-,1985-03-04
1758,1,300,no,U.S. GEOGRAPHY,-,Only temperate zone rain forest in the U.S. is...,Washington,NaN,-,1985-03-04
1759,1,400,no,U.S. GEOGRAPHY,-,The only leper colony in the U.S. is on an isl...,Hawaii,NaN,-,1985-03-04
1760,1,500,no,U.S. GEOGRAPHY,-,"These 2 states are ""Cajun Country\""",Louisiana and Texas,NaN,-,1985-03-04
2364,3,0,no,U.S. GEOGRAPHY,-,Geographic distinction of the city of Leadvill...,the highest incorporated U.S. city,NaN,-,1986-02-14
1273,3,0,no,U.S. GEOGRAPHY,-,"3 of the states that have areas known as ""panh...","(3 of) Texas, Oklahoma, Florida, West Virginia...",NaN,-,1987-11-03
2641,1,100,no,U.S. GEOGRAPHY,-,"In 1980, this Cascade mountain peak was reduce...",Mt. St. Helens,NaN,-,1987-12-17
2642,1,200,no,U.S. GEOGRAPHY,-,Complete with big toe projection into the Gulf...,Louisiana,NaN,-,1987-12-17
2643,1,300,no,U.S. GEOGRAPHY,-,"Of about 8, 11, or 16%, the % of U.S. land are...",16%,NaN,-,1987-12-17
2644,1,400,no,U.S. GEOGRAPHY,-,This island is the only U.S. commonwealth outs...,Puerto Rico,NaN,-,1987-12-17
2645,1,500,yes,U.S. GEOGRAPHY,-,Though most of Yellowstone National Park lies ...,Montana & Idaho,NaN,-,1987-12-17
4780,2,200,no,U.S. GEOGRAPHY,-,Cape Cod is the result of soil & rock pushed i...,glaciers,NaN,1988 Teen Tournament final game 1.,1988-02-18
4781,2,400,no,U.S. GEOGRAPHY,-,This state has a petrified forest located nort...,Mississippi,NaN,1988 Teen Tournament final game 1.,1988-02-18
4782,2,600,no,U.S. GEOGRAPHY,-,This French explorer never explained how a lar...,Champlain,NaN,1988 Teen Tournament final game 1.,1988-02-18
4783,2,4000,yes,U.S. GEOGRAPHY,-,This Great Lake dips farther south than any other,Lake Erie,NaN,1988 Teen Tournament final game 1.,1988-02-18
4784,2,1000,no,U.S. GEOGRAPHY,-,These have been called the backbone of the con...,the Rockies,NaN,1988 Teen Tournament final game 1.,1988-02-18
6870,1,100,no,U.S. GEOGRAPHY,-,Only U.S. state above 54deg 40' north,Alaska,NaN,-,1988-05-27
6871,1,200,no,U.S. GEOGRAPHY,-,"At 5 feet below sea level, this city is the lo...",New Orleans,NaN,-,1988-05-27
6872,1,300,no,U.S. GEOGRAPHY,-,"State in which you'll find the Carson River, C...",Nevada,NaN,-,1988-05-27
...,...,...,...,...,...,...,...,...,...,...
7269,1,200,no,U.S. GEOGRAPHY,-,"John Tyler, James Monroe, & Jefferson Davis ar...",Richmond,NaN,-,2016-03-25
7270,1,400,no,U.S. GEOGRAPHY,-,Name shared by the state where St. Joseph is l...,Missouri,NaN,-,2016-03-25
7271,1,600,no,U.S. GEOGRAPHY,-,"If you want to cross this California range, th...",the Sierra Nevada,NaN,-,2016-03-25
7272,1,800,no,U.S. GEOGRAPHY,-,"In WWII 28,000 aviators trained in & around th...",Pensacola,NaN,-,2016-03-25
7273,1,1000,no,U.S. GEOGRAPHY,-,"Billings, Montana is found on this ""colorful"" ...",Yellowstone,NaN,-,2016-03-25
8454,2,400,no,U.S. GEOGRAPHY,-,"This state capital is known as ""The Big Pineap...",Honolulu,NaN,-,2016-04-26
8455,2,2000,yes,U.S. GEOGRAPHY,-,This river & its tributaries flow through 3 ma...,the Colorado River,NaN,-,2016-04-26
8456,2,1200,no,U.S. GEOGRAPHY,-,The largest area of sand dunes in the U.S. lie...,Nebraska,NaN,-,2016-04-26
8457,2,1600,no,U.S. GEOGRAPHY,-,The east end of Long Island is AKA this area w...,the Hamptons,NaN,-,2016-04-26
8458,2,2000,no,U.S. GEOGRAPHY,-,This Alaskan island group named for a Russian ...,the Pribilof Islands,NaN,-,2016-04-26
8788,2,400,no,U.S. GEOGRAPHY,-,"Kelleys Island, Ohio's largest island, lies wi...",Erie,NaN,2016 Teachers Tournament quarterfinal game 3.,2016-05-04
8789,2,2000,yes,U.S. GEOGRAPHY,-,The Badwater Ultramarathon runs from the lowes...,Mount Whitney,NaN,2016 Teachers Tournament quarterfinal game 3.,2016-05-04
8790,2,1200,no,U.S. GEOGRAPHY,-,"Once called Derryfield, this largest New Hamps...",Manchester,NaN,2016 Teachers Tournament quarterfinal game 3.,2016-05-04
8791,2,1600,no,U.S. GEOGRAPHY,-,The Colorado & Yuma Deserts are subdivisions o...,the Sonora,NaN,2016 Teachers Tournament quarterfinal game 3.,2016-05-04
8792,2,2000,no,U.S. GEOGRAPHY,-,Lake Texoma on the border of Texas & Oklahoma ...,the Red River,NaN,2016 Teachers Tournament quarterfinal game 3.,2016-05-04
9464,3,0,no,U.S. GEOGRAPHY,-,"Of the 8 states that touch the Great Lakes, it...",Indiana,NaN,-,2016-05-23
8711,1,200,no,U.S. GEOGRAPHY,-,The 3-mile-long Golden Gate Strait connects th...,San Francisco Bay,NaN,-,2017-05-02
8712,1,400,no,U.S. GEOGRAPHY,-,"Sometimes called the ""Panhandle State"", it has...",West Virginia,NaN,-,2017-05-02
8713,1,600,no,U.S. GEOGRAPHY,-,The Jordan River rises in Utah Lake & empties ...,the Great Salt Lake,NaN,-,2017-05-02
8714,1,800,no,U.S. GEOGRAPHY,-,"Though it's the fourth-largest state in area, ...",Montana,NaN,-,2017-05-02
8715,1,1000,no,U.S. GEOGRAPHY,-,Waterfalls on this river include Shoshone Fall...,the Snake River,NaN,-,2017-05-02
9252,1,200,no,U.S. GEOGRAPHY,-,This presidential retreat is located in a wood...,Camp David,NaN,2018 Teachers Tournament final game 1.,2018-05-17
9253,1,400,no,U.S. GEOGRAPHY,-,"While rolling on to the Pacific, this river fo...",Columbia,NaN,2018 Teachers Tournament final game 1.,2018-05-17
9254,1,800,no,U.S. GEOGRAPHY,-,This colorful group of eroded mountains contai...,the Black Hills,NaN,2018 Teachers Tournament final game 1.,2018-05-17
9255,1,1000,no,U.S. GEOGRAPHY,-,West Quoddy Head in this state is the easternm...,Maine,NaN,2018 Teachers Tournament final game 1.,2018-05-17
11215,2,400,no,U.S. GEOGRAPHY,-,It isn't just for skiers; Sun Valley in this w...,Idaho,NaN,-,2018-07-06
11216,2,2000,yes,U.S. GEOGRAPHY,-,The site for this capital was chosen for its l...,Tallahassee,NaN,-,2018-07-06
11217,2,1200,no,U.S. GEOGRAPHY,-,This Texas island with a national seashore was...,Padre Island,NaN,-,2018-07-06
11218,2,1600,no,U.S. GEOGRAPHY,-,The Eisenhower National Historic Site is just ...,Gettysburg,NaN,-,2018-07-06
11219,2,2000,no,U.S. GEOGRAPHY,-,"Rome & this city, whose name was drawn from a ...",Utica,NaN,-,2018-07-06

In [35]:
for category in categorydict.keys():
    categorydict[category] = df[:][df1.category == category]

In [36]:
categorydict['SCIENCE']

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
304,3,0,no,SCIENCE,-,The mammal that holds the record for the longe...,man,NaN,-,1984-09-20
1017,2,200,no,SCIENCE,-,Fahrenheit equivalent to 0¬∫ Centigrade,32,NaN,-,1984-11-28
1018,2,400,no,SCIENCE,-,You might have to put F. Lee Bailey on one to ...,a lie detector,NaN,-,1984-11-28
1019,2,600,no,SCIENCE,-,The science which deals with the motion & beha...,ballistics,NaN,-,1984-11-28
1020,2,800,no,SCIENCE,-,"What you're ""stuck with"" boiling down collagen...",glue,NaN,-,1984-11-28
1021,2,1000,no,SCIENCE,-,"In 1808, this metalsmith made copper plates fo...",Paul Revere,NaN,-,1984-11-28
1037,1,100,no,SCIENCE,-,A sound's repetition by reflection,an echo,NaN,-,1984-11-29
1038,1,200,no,SCIENCE,-,"He originated ""The Origin of Species\""",Charles Darwin,NaN,-,1984-11-29
1039,1,300,no,SCIENCE,-,"Singular form of the word ""bacteria\""",bacterium,NaN,-,1984-11-29
1040,1,400,no,SCIENCE,-,Negative particle that orbits an atom's nucleus,an electron,NaN,-,1984-11-29
1041,1,500,no,SCIENCE,-,Cytology is the study of these biological buil...,cells,NaN,-,1984-11-29
1338,1,100,no,SCIENCE,-,A typical snowflake has this many sides,6,NaN,-,1984-12-10
1339,1,200,no,SCIENCE,-,Common element whose refined forms include pig...,iron,NaN,-,1984-12-10
1340,1,300,no,SCIENCE,-,"After length, width & depth, the 4th dimension",time,NaN,-,1984-12-10
1341,1,400,no,SCIENCE,-,"Type of organism that lives off of another, co...",a parasite,NaN,-,1984-12-10
1342,1,500,no,SCIENCE,-,Shattering sound that accompanies breaking the...,a sonic boom,NaN,-,1984-12-10
1413,2,200,no,SCIENCE,-,Land animal with the largest teeth,the elephant,NaN,-,1984-12-11
1414,2,400,no,SCIENCE,-,"\""Diffraction"" refers to the way it bends",light,NaN,-,1984-12-11
1415,2,600,no,SCIENCE,-,The 2 primary ferrous metals,iron and steel,NaN,-,1984-12-11
1416,2,800,yes,SCIENCE,-,Natural vanilla flavoring comes from this trop...,the orchid,NaN,-,1984-12-11
1417,2,1000,no,SCIENCE,-,Stratigraphy is a branch of this science,geology,NaN,-,1984-12-11
1685,2,200,no,SCIENCE,-,Galaxy we live in,Milky Way,NaN,-,1985-01-03
1686,2,400,no,SCIENCE,-,Human organ containing the smallest bones,ear,NaN,-,1985-01-03
1687,2,600,no,SCIENCE,-,"Known as ""black light"" because most of them ca...",ultraviolet rays,NaN,-,1985-01-03
1688,2,800,yes,SCIENCE,-,About 8% of all snakes are this poisonous type...,vipers,NaN,-,1985-01-03
1689,2,1000,no,SCIENCE,-,Mineral that's the richest in uranium ore,pitchblende,NaN,-,1985-01-03
1793,2,200,no,SCIENCE,-,Common gas represented by the formula CO2,Carbon dioxide,NaN,-,1985-03-04
1794,2,400,no,SCIENCE,-,"In magnetism, like poles do this",repel,NaN,-,1985-03-04
1795,2,600,no,SCIENCE,-,Measuring system established in France in 1790...,metric system,NaN,-,1985-03-04
1796,2,800,no,SCIENCE,-,Over three-fourths of the elements fall into t...,metallic,NaN,-,1985-03-04
...,...,...,...,...,...,...,...,...,...,...
368,1,400,no,SCIENCE,-,A nephrectomy is the surgical removal of this ...,a kidney,NaN,-,2016-09-21
369,1,600,no,SCIENCE,-,"Scientist Albert Hoffman, who died at age 102 ...",LSD,NaN,-,2016-09-21
370,1,800,no,SCIENCE,-,The 4 fundamental forces in physics are the st...,the gravitational force,NaN,-,2016-09-21
371,1,1000,no,SCIENCE,-,"Alphabetically, they are the last 2 chemical e...",zinc & zirconium,NaN,-,2016-09-21
4551,2,800,no,SCIENCE,-,Microcephaly is one of the birth defects relat...,Zika,NaN,-,2017-01-10
4552,2,1200,no,SCIENCE,-,The Higgs boson is what endows all elementary ...,mass,NaN,-,2017-01-10
4553,2,1600,no,SCIENCE,-,New studies say the rise of the Himalayas & co...,monsoons,NaN,-,2017-01-10
4554,2,2000,no,SCIENCE,-,This type of pulse that follows a nuclear expl...,an electromagnetic pulse,NaN,-,2017-01-10
5927,2,400,no,SCIENCE,-,"By definition, it's the branch of chemistry th...",inorganic,NaN,2017 College Championship quarterfinal game 3.,2017-02-15
5928,2,1200,no,SCIENCE,-,The Celsius temperature scale is also known as...,centigrade,NaN,2017 College Championship quarterfinal game 3.,2017-02-15
5929,2,1600,no,SCIENCE,-,It seems to defy gravity when a liquid goes up...,capillary action,NaN,2017 College Championship quarterfinal game 3.,2017-02-15
5930,2,2000,no,SCIENCE,-,"The original ""handy man"" was this early human ...",Homo habilis,NaN,2017 College Championship quarterfinal game 3.,2017-02-15
10410,2,400,no,SCIENCE,-,The cirrus ones of these on Earth are ice crys...,clouds,NaN,-,2017-06-14
10411,2,800,no,SCIENCE,-,Polyethylene is this type of substance that st...,a polymer,NaN,-,2017-06-14
10412,2,2000,yes,SCIENCE,-,Recent cognitive research indicated bilingual ...,a stroke,NaN,-,2017-06-14
10413,2,1600,no,SCIENCE,-,When an electron & a positron meet & both disa...,annihilation,NaN,-,2017-06-14
10414,2,2000,no,SCIENCE,-,"During the Cambrian period 500 mil. years ago,...",trilobites,NaN,-,2017-06-14
6432,1,200,no,SCIENCE,-,"Bed bugs are attracted to this gas, as it indi...",carbon dioxide,NaN,-,2018-03-05
6433,1,600,no,SCIENCE,-,"Rusty metal is not the source of this disease,...",tetanus,NaN,-,2018-03-05
6434,1,800,no,SCIENCE,-,Haptic feedback uses this human sense to relay...,touch,NaN,-,2018-03-05
6435,1,1400,yes,SCIENCE,-,"If the half-life of trebekium-13 is 10 years, ...",25 grams,NaN,-,2018-03-05
9432,2,400,no,SCIENCE,-,Dispersion is the breaking of light via a pris...,colors,NaN,-,2018-05-22
9433,2,800,no,SCIENCE,-,The seif type of this sand formation develops ...,a sand dune,NaN,-,2018-05-22
9434,2,4000,yes,SCIENCE,-,"A unit of atomic mass, a dalton is defined as ...",carbon,NaN,-,2018-05-22
9435,2,2000,no,SCIENCE,-,A meteor about as bright as Venus in the sky h...,a fireball,NaN,-,2018-05-22
10241,1,200,no,SCIENCE,-,These variations in the level of the oceans ha...,tides,NaN,-,2018-06-13
10242,1,400,no,SCIENCE,-,Development of an organism from gamete to fetu...,embryology,NaN,-,2018-06-13
10243,1,600,no,SCIENCE,-,This type of cloud that can ruin a picnic grow...,cumulonimbus,NaN,-,2018-06-13
10244,1,800,no,SCIENCE,-,"Crossword puzzle addicts know ""ase"" is a commo...",enzymes,NaN,-,2018-06-13
10245,1,1000,no,SCIENCE,-,"First predicted in 1930, this particle with no...",neutrinos,NaN,-,2018-06-13

In [37]:
categorydict['HOMONYMS']

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
346,2,200,no,HOMONYMS,(Alex: And for the benefit of our folks at hom...,Hindu hierarchy or a play's actors,a caste (cast),NaN,-,1984-09-21
347,2,400,no,HOMONYMS,(Alex: And for the benefit of our folks at hom...,Near or a purchase,by (buy),NaN,-,1984-09-21
348,2,600,no,HOMONYMS,(Alex: And for the benefit of our folks at hom...,"A fixed look, or Ginger Rogers' partner",a stare (Astaire),NaN,-,1984-09-21
349,2,1000,yes,HOMONYMS,(Alex: And for the benefit of our folks at hom...,Didn't see the fog,missed (mist),NaN,-,1984-09-21
350,2,1000,no,HOMONYMS,(Alex: And for the benefit of our folks at hom...,Where ships dock or what a jury consists of,piers (peers),NaN,-,1984-09-21
395,2,200,no,HOMONYMS,-,"Dave Garroway's sign-off, or a slice of cake",peace (piece),NaN,-,1984-09-24
396,2,400,no,HOMONYMS,-,"What Oliver Twist wanted, or Susan Anton's dim...",more (Moore),NaN,-,1984-09-24
397,2,600,no,HOMONYMS,-,"Olympic swimmer, or what a tobacco chewer does...",Spitz (spits),NaN,-,1984-09-24
398,2,800,no,HOMONYMS,-,"Expensive onion, or what happens when there's ...",leek (leak),NaN,-,1984-09-24
399,2,1000,no,HOMONYMS,-,"A peasant, or where you hang 10",serf (surf),NaN,-,1984-09-24
1685,2,200,no,HOMONYMS,-,This freshwater fish is never given an even break,sucker,NaN,-,1986-12-10
1686,2,400,no,HOMONYMS,-,"If you need a loan, stay away from this non-bo...",shark,NaN,-,1986-12-10
1687,2,600,no,HOMONYMS,-,If a bird were to choose a fish on which to ro...,perch,NaN,-,1986-12-10
6120,1,100,no,HOMONYMS,-,To smooth your press-on nails with an emery bo...,file,NaN,-,1988-04-19
6121,1,200,no,HOMONYMS,-,To hit the boss or refuse to work for him,strike,NaN,-,1988-04-19
6122,1,300,no,HOMONYMS,-,A braid of hair hanging down in a straight lin...,queue,NaN,-,1988-04-19
6123,1,400,no,HOMONYMS,-,Term for lowest-ranking Annapolis grad or high...,anchorman,NaN,-,1988-04-19
6124,1,500,yes,HOMONYMS,-,It could be mere chance or a stroke of good lu...,fluke,NaN,-,1988-04-19
8506,2,200,no,HOMONYMS,-,"A 1-horse carriage on springs, or a device tha...",Trap,NaN,-,1997-04-21
8507,2,400,no,HOMONYMS,-,"The gullet of a bird, something for a farmer t...",Crop,NaN,-,1997-04-21
8508,2,600,no,HOMONYMS,-,"It can be your best buddy, or the chopped bait...",Chum,NaN,-,1997-04-21
8509,2,1000,yes,HOMONYMS,-,"To soak in liquid, or marked by an extreme angle",Steep,NaN,-,1997-04-21
8510,2,1000,no,HOMONYMS,-,"It can be a short run, a punctuation mark indi...",Dash,NaN,-,1997-04-21
6886,1,100,no,HOMONYMS,-,Where newlyweds might walk on their wedding da...,aisle/isle,NaN,-,1998-02-17
6887,1,500,no,HOMONYMS,-,Copied on paper by memory,wrote/rote,NaN,-,1998-02-17
1646,1,200,no,HOMONYMS,-,"To switch, or the dimes & quarters in your pocket",change,NaN,-,2013-10-30
1647,1,400,no,HOMONYMS,-,"To throw a fishing net into the water, or the ...",cast,NaN,-,2013-10-30
1648,1,600,no,HOMONYMS,-,"Part of the covering on a lizard, or the minim...",scale,NaN,-,2013-10-30
1649,1,800,no,HOMONYMS,-,"A heap, or the loops of yarn forming the surfa...",pile,NaN,-,2013-10-30
1650,1,1000,no,HOMONYMS,-,"The triangular blade on an anchor's arm, or an...",fluke,NaN,-,2013-10-30
4284,1,200,no,HOMONYMS,-,"An oceangoing vacation, or a type of low-altit...",a cruise,NaN,-,2017-01-03
4285,1,400,no,HOMONYMS,-,"To move clumsily through water, or the type of...",to flounder,NaN,-,2017-01-03
4286,1,600,no,HOMONYMS,-,"One who takes care of horses, or to prepare an...",a groom,NaN,-,2017-01-03
4287,1,800,no,HOMONYMS,-,"Track a pray or quarry, or the petiole of a leaf",stalk,NaN,-,2017-01-03
4288,1,1000,no,HOMONYMS,-,"A flock of geese in flight, or a length of thr...",a skein,NaN,-,2017-01-03

In [38]:
categorydict['NORSE GODS'].info

<bound method DataFrame.info of       round value daily_double    category comments  \
12036     2   400           no  NORSE GODS        -
12037     2   800           no  NORSE GODS        -
12038     2  1200           no  NORSE GODS        -
12039     2  1600           no  NORSE GODS        -

                                                  answer  \
12036  We can thank Freya, the goddess of love, for t...
12037  Hermod, whose name means "war spirit", perform...
12038  Known for his eloquence & knowledge, Bragi was...
12039  Delling, whose name means "luminous one", was ...

                                 question air_data notes    air_date
12036                              Friday      NaN     -  2018-07-27
12037  delivering messages (or messenger)      NaN     -  2018-07-27
12038                               poems      NaN     -  2018-07-27
12039                             sunrise      NaN     -  2018-07-27  >

In [39]:
uniquecategories

array(['LAKES & RIVERS', 'INVENTIONS', 'ANIMALS', ...,
       'CLASSICAL MUSIC TERMS', 'DEFUNCT SPORTS FRANCHISES', 'NORSE GODS'],
      dtype=object)

In [40]:
print(random.choice(uniquecategories))

AMERICA THE BEAUTIFUL

In [42]:
categorydict['AMERICA THE BEAUTIFUL']

,round,value,daily_double,category,comments,answer,question,air_data,notes,air_date
7748,2,200,no,AMERICA THE BEAUTIFUL,-,The Klamath River rises in this state then emp...,Oregon,NaN,-,1998-03-10
7749,2,400,no,AMERICA THE BEAUTIFUL,-,Both Dakotas have areas of eroded terrain call...,Badlands,NaN,-,1998-03-10
7750,2,600,no,AMERICA THE BEAUTIFUL,-,"The 288-year-old town of Easton, Maryland sits...",Chesapeake Bay,NaN,-,1998-03-10
7751,2,800,no,AMERICA THE BEAUTIFUL,-,The last time both major party conventions wer...,Miami,NaN,-,1998-03-10
7752,2,1000,no,AMERICA THE BEAUTIFUL,-,"The ""files"" on this large Illinois city includ...",Rockford,NaN,-,1998-03-10
11644,1,200,no,AMERICA THE BEAUTIFUL,"(Alex: Yes, the song.)","\""America! America! God shed his Grace on th...",shining sea,NaN,-,2009-07-01
11645,1,400,no,AMERICA THE BEAUTIFUL,"(Alex: Yes, the song.)","\""O beautiful for spacious skies, for amber wa...",the fruited plain,NaN,-,2009-07-01
11646,1,600,no,AMERICA THE BEAUTIFUL,"(Alex: Yes, the song.)","\""O beautiful for patriot dream, that sees bey...",tears,NaN,-,2009-07-01
11647,1,800,no,AMERICA THE BEAUTIFUL,"(Alex: Yes, the song.)","\""America! America! God mend thine every fla...",law,NaN,-,2009-07-01
11648,1,1000,no,AMERICA THE BEAUTIFUL,"(Alex: Yes, the song.)","\""America! America! May God thy gold refine/...",divine,NaN,-,2009-07-01

In [ ]:
#Quiz
#print answers from column in dataframe
#enter your own questions
#if questions entered = questions in df
#print TRUE/FALSE

In [43]:
print(categorydict['AMERICA THE BEAUTIFUL'].answer.values)

['The Klamath River rises in this state then empties into the Pacific Ocean in California'
 "Both Dakotas have areas of eroded terrain called this; South Dakota's has a national park named for it"
 'The 288-year-old town of Easton, Maryland sits on the eastern shore of this bay'
 'The last time both major party conventions were held in the same place was 1972 in this southern "beach" city'
 'The "files" on this large Illinois city include its historic leadership in screw production'
 '\\"America!  America!  God shed his Grace on thee/ And crown thy good with brotherhood  from sea to" this'
 '\\"O beautiful for spacious skies, for amber waves of grain/ For purple mountain majesties, above"  these 3 words'
 '\\"O beautiful for patriot dream, that sees beyond the years/ Thine alabaster cities gleam, undimmed by human" these'
 '\\"America!  America!  God mend thine every flaw/ Confirm thy soul in self-control, thy liberty in" this'
 '\\"America!  America!  May God thy gold refine/ till all success be nobleness, and every gain" this godly word']

In [45]:
categorydict['AMERICA THE BEAUTIFUL'].answer.values

array(['The Klamath River rises in this state then empties into the Pacific Ocean in California',
       "Both Dakotas have areas of eroded terrain called this; South Dakota's has a national park named for it",
       'The 288-year-old town of Easton, Maryland sits on the eastern shore of this bay',
       'The last time both major party conventions were held in the same place was 1972 in this southern "beach" city',
       'The "files" on this large Illinois city include its historic leadership in screw production',
       '\\"America!  America!  God shed his Grace on thee/ And crown thy good with brotherhood  from sea to" this',
       '\\"O beautiful for spacious skies, for amber waves of grain/ For purple mountain majesties, above"  these 3 words',
       '\\"O beautiful for patriot dream, that sees beyond the years/ Thine alabaster cities gleam, undimmed by human" these',
       '\\"America!  America!  God mend thine every flaw/ Confirm thy soul in self-control, thy liberty in" this',
       '\\"America!  America!  May God thy gold refine/ till all success be nobleness, and every gain" this godly word'],
      dtype=object)

In [46]:
categorydict['AMERICA THE BEAUTIFUL'].question.values

array(['Oregon', 'Badlands', 'Chesapeake Bay', 'Miami', 'Rockford',
       'shining sea', 'the fruited plain', 'tears', 'law', 'divine'],
      dtype=object)

In [47]:
from random import sample

In [48]:
rofa = categorydict['AMERICA THE BEAUTIFUL'].answer.values
rofa

array(['The Klamath River rises in this state then empties into the Pacific Ocean in California',
       "Both Dakotas have areas of eroded terrain called this; South Dakota's has a national park named for it",
       'The 288-year-old town of Easton, Maryland sits on the eastern shore of this bay',
       'The last time both major party conventions were held in the same place was 1972 in this southern "beach" city',
       'The "files" on this large Illinois city include its historic leadership in screw production',
       '\\"America!  America!  God shed his Grace on thee/ And crown thy good with brotherhood  from sea to" this',
       '\\"O beautiful for spacious skies, for amber waves of grain/ For purple mountain majesties, above"  these 3 words',
       '\\"O beautiful for patriot dream, that sees beyond the years/ Thine alabaster cities gleam, undimmed by human" these',
       '\\"America!  America!  God mend thine every flaw/ Confirm thy soul in self-control, thy liberty in" this',
       '\\"America!  America!  May God thy gold refine/ till all success be nobleness, and every gain" this godly word'],
      dtype=object)

In [49]:
rofaL = rofa.tolist()
rofaL

['The Klamath River rises in this state then empties into the Pacific Ocean in California',
 "Both Dakotas have areas of eroded terrain called this; South Dakota's has a national park named for it",
 'The 288-year-old town of Easton, Maryland sits on the eastern shore of this bay',
 'The last time both major party conventions were held in the same place was 1972 in this southern "beach" city',
 'The "files" on this large Illinois city include its historic leadership in screw production',
 '\\"America!  America!  God shed his Grace on thee/ And crown thy good with brotherhood  from sea to" this',
 '\\"O beautiful for spacious skies, for amber waves of grain/ For purple mountain majesties, above"  these 3 words',
 '\\"O beautiful for patriot dream, that sees beyond the years/ Thine alabaster cities gleam, undimmed by human" these',
 '\\"America!  America!  God mend thine every flaw/ Confirm thy soul in self-control, thy liberty in" this',
 '\\"America!  America!  May God thy gold refine/ till all success be nobleness, and every gain" this godly word']

In [50]:
rofq = categorydict['AMERICA THE BEAUTIFUL'].question.values
rofq

array(['Oregon', 'Badlands', 'Chesapeake Bay', 'Miami', 'Rockford',
       'shining sea', 'the fruited plain', 'tears', 'law', 'divine'],
      dtype=object)

In [ ]:
rofqL = rofq.tolist()
rofqL

In [ ]:
from random import sample

Questions = rofaL
             

Answers = rofqL
           

num_right = 0

# Personal taste, I prefer the zipped list of Q & A rather than an index lookup in the for loop
# Ex: key[0] == ('What is the capital of the United States of America? ', 'Washington DC')
# Final note, the zip function returns a generator, so we need to transform it to a list object for sample()
key = list(zip(Questions, Answers))

# Sample from key now instead of Questions
s = sample(key, 5)

for i in s:
    # in each "i" tuple [0] is the question, [1] is the answer
    print(i[0])
    user_answer = input('Your Guess: ')
    if user_answer.lower() == i[1].lower():
        print('Correct!!!')
        num_right += 1
    else:
        print('Not Correct')
# Added a final fraction of correct statement
print('{}/5 Questions Correct'.format(num_right))